<div class="container text-center">
  <p>This is an application used to learn <a target="_blank" rel="noopener noreferrer" href="https://angular.io">Angular</a>, <a target="_blank" rel="noopener noreferrer" href="https://rxjs.dev">RxJS</a>, and <a target="_blank" rel="noopener noreferrer" href="https://www.typescriptlang.org">TypeScript</a>.</p>
  
  <p>The <a target="_blank" rel="noopener noreferrer" href="https://rebrickable.com/api/">Rebrickable API</a> is used to gather all the data that you see.
  
  <p>Styles used in the application come from <a target="_blank" rel="noopener noreferrer" href="https://getbootstrap.com/">Bootstrap</a>.</p>

  <p>Code can be reviewed in the <a target="_blank" rel="noopener noreferrer" href="https://github.com/nightwolfdev/lego">Github Repo</a>.</p>
</div>